.product-card {
    width: 100%;
    max-width: 300px; 
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    display: inline-block; 
    text-align: center; 
}

.product-image {
    max-width: 100%;
    max-height: 200px;    
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.card-description {
    font-size: 14px;
    margin: 10px 0;
}

.card-price {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

/* Add styles for the "Add to Cart" button */
.btn-add-to-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 0;
}

.navbar {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.nav-link {
    font-size: 16px;
    color: #333;
}

.nav-item{
    
}