{% extends 'shop/base.html' %}
{% block content %}
    <h2>Your Cart</h2>
    <div class="cart-items">
        {% for item in cart_items %}
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.title }}" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.product.title }}</h5>
                            <p class="card-text">Price: ${{ item.product.price }}</p>
                            <p class="card-text">Quantity: {{ item.quantity }}</p>
                            <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}